/* Reset de estilos */
* {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição da fonte */
@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower-Regular.ttf');
}

/* Estilos globais */
body {
    background-image: linear-gradient(to bottom, rgb(238, 238, 238), rgb(185, 185, 185));
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos para as páginas do diário */
section.pag {
    background-image: url(../images/v602-nunoon-05-rippednotes.jpg);
    background-repeat: repeat;
    background-position: center top;
    background-size: contain;
    min-height: 600px;
    width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 4px 4px 10px 5px rgba(10, 0, 53, 0.329);
    padding: 0;
}

/* Estilos para as áreas de conteúdo */
.fora {
    font-size: 1.3em;
    max-width: 400px;
    min-height: 600px;
    padding: 15px 0px;
    margin: 20px 0px;
    margin-left: 65px;
    outline: none;
}

/* Estilos para os botões de exclusão */
.forabutton {
    position: relative;
}

.forabutton > input {
    font-size: 2em;
    position: absolute;
    bottom: 570px;
    left: 102%;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}

#gerenciador {
    position: fixed;
    top: 0px;
    left: -50px;
    background-color: #e9e9e9;
    width: 300px;
    min-height: 0px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.397);
}

#gerenciador > button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.199);
}

.botaoGerenciador {
    position: relative;
    left: 35%;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.199);
    cursor: pointer;
}

/* Estilos para a barra de formatações */
#formatacoes {
    position: fixed;
    top: 1px;
    right: 0px;
}

#formatacoes input {
    font-size: 1.4em;
    width: 120px;
    height: 50px;
    margin-top: 10px;
    border: 0;
    border-radius: 30% 0% 0% 30%;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
    cursor: pointer;
}

.botao-formatacao {
    font-size: 1.4em;
    width: 120px;
    height: 50px;
    border: 0;
    border-radius: 30% 0% 0% 30%;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
    cursor: pointer;
}

.botao-ativo {
    width: 60px; /* Defina o tamanho desejado para o botão ativo */
    opacity: 0.5; /* Defina a opacidade desejada para o botão ativo */
}


/* Remover bordas de foco */
.fora:focus,
#formatacoes input:focus {
    outline: none;
}
